<div *ngIf="auth.user | async; then authenticated else guest">
  <!-- template will replace this div -->
</div>



<!-- User NOT logged in -->
<ng-template #guest>
  <h2 class="heading">Hello, GUEST</h2>
  <p>Login to get started...</p>

  <button (click)="auth.googleLogin()">
    <i class="fa fa-google"></i> Connect Google
  </button>

</ng-template>


<!-- User logged in -->
<ng-template #authenticated>
  <div *ngIf="auth.user | async as user">
    <button class="btn right" (click)="auth.signOut()">Logout</button>
    <h2>Hello, {{ user.displayName }}</h2>
    <!-- <img class="profilePic" [src]="user.photoURL"> -->
    <h6>{{ user.email }}</h6>
  </div>

<div class='readLaterSection'>
  <h5> Your Read Later List </h5>
  </div>

<app-read-later></app-read-later>

</ng-template>
