


<div class="navbar-fixed">
    <nav class="z-depth-0">
      <div class="nav-wrapper container">
        <a class="brand-logo Left">Link Board</a>

        <div class="button-row">

        <div class="userinfo right" *ngIf="auth.user | async; then authenticated else guest">
                                              <!-- template will replace this div -->
        </div>
          <!-- <a class="right btn"[routerLink]="['/groups']">Your Groups</a> -->
            <a class="right btn"[routerLink]="['/browse']">Browse</a>
                          <a class="btn modal-trigger right new-post" href="#demo-modal">New Post</a>


          <!--<app-add-post></app-add-post> hello world-->
</div>

      </div>
  </nav>
</div>


<div class="container">
<!-- Modal Trigger -->
  <!-- Modal Structure -->
  <div id="demo-modal" class="modal">
    <div class="modal-content">



<app-add-post></app-add-post>



    <!-- <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-red btn red lighten-1">Close</a>
    </div> -->
  </div>
</div>
<script>
$(document).ready(function(){
    $('.modal').modal();
  })
</script>


<!-- User NOT logged in -->
<ng-template #guest>
    <button class="profilePic" [routerLink]="['/profile']">
        <!-- <i class="right fa fa-google"></i> Connect Google -->

    </button>
</ng-template>


<!-- User logged in -->
<ng-template #authenticated>
    <div *ngIf="auth.user | async as user">
        <!--<h3 class="username">{{ user.displayName }}</h3>-->
        <img class="profilePic" [routerLink]="['/profile']"  [src]="user.photoURL">
    </div>









</ng-template>
