.no-shadows {
    box-shadow: none !important;
    z-index: z-depth-0 !important;
}

.z-depth-0 {
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0);
  background-color: black;
}

.right {
    margin: 15px;
}


.brand-logo {
    font-size: 20px;
    font-family: "Gothic A1";
    font-weight: 500;
}

.btn {
    background-color: black;
      /*border: 1px solid white;*/
}


.btn:enabled {
        background-color: black;
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0);
        padding-left: 15px;
        padding-right: 15px;
    /*border: 1px solid white;*/
}

.btn:disabled {
    background-color: black;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0);
    /*border: 1px solid white;*/
}

.btn:hover {
    background-color: #222222;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0);
    /*border: 1px solid white;*/
}

.new-post:enabled {
    border: 1px solid white;
    padding-left: 15px;
    padding-right: 15px;
      /*border: 1px solid white;*/
}

.profilePic {
float: right;
  background-color: Blue;
      border: 0px;
          border-radius: 50%;
  height:40px;
  width:40px;
  cursor:pointer;
  margin: 12px;
}

.username {
    margin: 15px;
}
